footer
  a.text-success(href='http://greenscreen.io/') inspired by Greenscreen
  hr(style='max-width: 200px; margin: 10px 0; border: none; border-top: 1px solid #ddd')
  span ported by&nbsp;
    a.bg-dark.text-light(href='https://github.com/superhawk610', style='padding: 0.2em 0.4em; border-radius: 5px')
      i.fa.fa-github
      | &nbsp;superhawk610

script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/js/app.js')