if (channel.URLs.find(panel => panel.length > 1))
  - console.log(channel)
  script(type='text/javascript').
    var rotationDuration = #{channel.duration},
      rotationChannels = !{JSON.stringify(channel.URLs)}