a.btn.btn-lg.btn-primary.btn-block(href='/devices') Chromecasts
a.btn.btn-lg.btn-primary.btn-block(href='/channels') Channels
a.btn.btn-lg.btn-primary.btn-block(href='/push') Push Alert
unless takeover.isActive()
  a.btn.btn-lg.btn-primary.btn-block(href='/takeover') Channel Takeover
else
  a.btn.btn-lg.btn-error.btn-block#stop-takeover Stop Channel Takeover
hr
h3 Preset Channels
h5 Message Display
  a.btn.btn-error(href='message/edit', style='margin-left: 5px') Edit
  a.btn.btn-primary(href='message', style='margin-left: 5px') Preview