doctype html
html(lang='en')
  head
    title Message Display
    link(rel='stylesheet', href='/css/message.css')

  body
    #message!= message
    #clock

    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/message.js')