doctype html
html(lang='en')
  head
    title Multicast | Nyan!!
    style(type='text/css').

      html {
        background: url(/assets/nyan.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
      }

  body
    audio(src='/assets/catloop.mp3', autoplay, loop)