h1 Push Alert
form#edit-alert
  .form-group
    label.form-label.label-lg(for='alert-text') Name
    textarea.form-input#alert-text(name='text', placeholder='Alert text here', rows=5, style='font-size: 1.3em; padding: 8px')
    #char-counter.text-gray.float-right.mt-1 150
  .form-group#alert-style
    label.form-label.label-lg Alert Style
    .toast.active(style='margin-bottom: 10px')
      h5 Default
    .toast.toast-success(style='margin-bottom: 10px')
      h5 Greenscreen
    .toast.toast-error
      h5 Urgent
  .form-group#alert-duration
    label.form-label.label-lg Alert Duration
    button.btn.btn-lg.btn-primary 1m
    button.btn.btn-lg 5m
    button.btn.btn-lg 30m
    button.btn.btn-lg 1h
    button.btn.btn-lg 6m
    button.btn.btn-lg 12h
    button.btn.btn-lg 24h
  .columns(style='margin-top: 15px')
    .column
      button.btn.btn-primary.btn-lg.btn-block(type='submit') Push Alert
    .column
      a.btn.btn-lg.btn-block(href='/') Cancel