doctype html
html(lang='en')
  head
    title Multicast | setup
    link(rel='stylesheet', href='/css/spectre.min.css')
    link(rel='stylesheet', href='/css/setup.css')

  body
    #center
      h1 Welcome to #[span.emphasis MultiCast]!
      h2 Device is #[span.info #{registered ? 'registered' : 'unregistered'}].
      if device
        br
        h2 #[span.emphasis Device Name:] #{device.name}
        h2 #[span.emphasis Device ID:] #{device.deviceId}
        h2 #[span.emphasis Network Location:] #{device.address}
      if registered
        br
        h2 Select a #[span.emphasis Channel] to display it here.
      else
        br
        h2 #[span.emphasis Register] this device to display a channel.
        h2 Head to #[span.info= setupUrl] from a browser to get started.

    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js')
    script(type='text/javascript', src='/js/client.js')