h1 Channel Takeover
.form-group
  label.form-label.label-lg(for='device-channel') Channel
  select.form-select.input-lg#device-channel(name='channel_id')
    option(selected, disabled) Choose a Channel...
    if channels
      each c in channels
        option(value=c._id)= c.name
  .text-gray.form-label Selected channel will appear on all Chromecasts.
.columns(style='margin-top: 15px')
  .column
    button.btn.btn-primary.btn-lg.btn-block(type='submit') Start Takeover
  .column
    a.btn.btn-lg.btn-block(href='/') Cancel