doctype html
html(lang='en')
  head
    title Multicast | #{channel.name}
    include ../include/head.pug
    link(rel='stylesheet', href='/css/channel.css')

  body.right-panel(class=rotation)
    include ../include/error.pug
    include ../include/toast.pug
    if channel.URLS != null && channel.URLs.length
      iframe(src=channel.URLs[0][0], frameborder=0, framespacing=0)
      if channel.URLs.length > 1
        iframe(src=channel.URLS[1][0], frameborder=0, framespacing=0)

    include ../include/rotation.pug
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    if casting
      script(type='text/javascript', src='//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js')
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/client.js')
